ul {  
    list-style: none;
    display: inline;
}

img.avatar{
    width: 40px;
     border-radius: 50%;
}
.heading {  
    text-decoration: none;
    color: black;
    float: right;
    margin-right: 20px;
    
}

nav {
    margin-top: 1%;
    background-color: white;
    color: #000;
    vertical-align: middle;
    overflow: auto;
}

section div.pa1 {
    background-image: url("https://cdn.vox-cdn.com/thumbor/Pkmq1nm3skO0-j693JTMd7RL0Zk=/0x0:2012x1341/1200x800/filters:focal(0x0:2012x1341)/cdn.vox-cdn.com/uploads/chorus_image/image/47070706/google2.0.0.jpg");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: 35%;
    height: 20px;
    padding-top: 18%;
    margin-bottom: 0px;
    color: white;
}
.title{
    background-color: white;
    padding-left: 4px;   
    padding-right: 4px;
    color: black;
    box-sizing: border-box;
    border: white solid 3px;
    border-radius: 10px;
}
input[type=text] {
    width: 50%;
    box-sizing: border-box;
    border: 3px solid whitesmoke;
    border-radius: 20px;
    font-size: 20px;
    background-color: white;
    background-image: url('/img/search.jpg');
    background-position: left; 
    background-size: 25px;
    /* box-shadow: 1px 1px 1px 1px grey; */
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }

div.searchbar{
    text-align: center;
}
div.link{
    width: 740px; /*can be in percentage also.*/
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}
div.link > div{
    text-align: center;
    /* position: relative; */
    display: inline-block;
    margin: 3%;
}
div.link  img{
    background-color: rgba(211, 211, 211, 0.973);
    width: 50px;
    border: solid white 2px;
    border-radius: 50%;
}
footer{
   border-bottom: 0px;
}
.footing{
    height: 5px;
    width: 60px;
    background-color: white;
    color: blue;
   
    border: 1px solid whitesmoke;
    border-radius: 20px;
}
