ul {  
    list-style: none;
    display: inline;
}

.avatar{
    width: 40px;
    border-radius: 50%;
}
.heading {    
    color: black;
    float: right;
    margin-right: 20px;   
}
.heading a{
    text-decoration: none;
    color: black;
}
.heading a:hover{
    text-decoration: underline;
}
.avatar:hover {
    background-color: #F2F2F2;
    border-radius: 50%;
}
nav {
    margin-top: 1%;
    background-color: white;
    color: #000;
    vertical-align: middle;
    overflow: auto;
}

section div.pa1 {
    background-image: url("https://cdn.vox-cdn.com/thumbor/Pkmq1nm3skO0-j693JTMd7RL0Zk=/0x0:2012x1341/1200x800/filters:focal(0x0:2012x1341)/cdn.vox-cdn.com/uploads/chorus_image/image/47070706/google2.0.0.jpg");   
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: 30%;
    height: 10px;
    padding-top: 15%;
    color: white;
}
.title{
    /* background-color: white; */
    padding-left: 4px;   
    padding-right: 4px;
    color: black;
    box-sizing: border-box;
    /* border: white solid 3px; */
    border-radius: 10px;
}
input[type=text] {
    width: 50%;
    box-sizing: border-box;
    border: 1px solid whitesmoke;
    border-radius: 40px;
    font-size: 20px;
    background-color: white;
    /* background-image: url('https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png'); */
    background-image: url('../img/search.jpg');
    background-position: 1.5%; 
    background-size: 20px;
    box-shadow: 1px 1px 2px 1px whitesmoke;
    /* box-shadow: 1px 1px 1px 1px grey; */
    background-repeat: no-repeat;
    padding: 14px 21px 12px 40px;
    margin-bottom: 20px;
  }
.heading span{
    padding-top: 6px;  
    padding-bottom: 6px;
}
div.searchbar{
    text-align: center;
}
div.link{
    width: 50%; 
    height: auto;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
}
div.link div:hover {
    background-color: #F2F2F2;
}
div.link > div{
    width: 18%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    /* position: relative; */
    display: inline-block;
    margin-top: 2%;
}
div.link  img{
    background-color: rgba(211, 211, 211, 0.973);
    width: 35px;
    border: solid white 2px;
    border-radius: 50%;
}
/* footer area */
footer{
   border-bottom: 0px;
}
.footing{
    align-items: center;
    border: whitesmoke 2px solid;
    border-radius: 50px;
    bottom: 16px;
    display: flex;
    height: 32px;
    justify-content: center;
    width: 125px;
    padding-bottom: 2px;
    position: fixed;
    right: 16px;
    box-shadow: 1px 1px 2px 1px whitesmoke;
    /* width: fit-content; */
}
#pen{
    padding: 1px;
    margin: 1px;
    margin-bottom: 3px;
    width : 10px;
    height: 10px;
    color: blue;
}
#bg-text{
    color: blue;
    font-size: 18px;
    margin: 1px;
    padding-inline-end: 12px;
    padding-inline-start: 8px;
    user-select: none;
}

@media screen and (max-width: 992px) {
    
    section div.pa1 {

        background-position: center;
        background-size: 50%;
    }
    div.link > div{
        width: 24%;
    }
    input[type=text] {
        width: 70%;
    }
    div.link{
        width: 80%; 
    }
}
@media screen and (max-width: 768px) {
    section div.pa1 {
        background-position: center;
    }
    div.link > div{
        width: 30%;
    }
    input[type=text] {
        width: 80%;
    }
    div.link{
        width: 90%; 
    }
}