* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: open;
    src: url(open-sans.bold.ttf);
  }
  
/* css for header */

#heading {
    margin: 25px 50px;
    overflow: auto;
    text-align: center;
}

#heading .logo {
    float: left;
    vertical-align: middle;
    margin: 15px;
}

#heading .account {
    float: right;
    vertical-align: middle;
}

.search {
    width: 60%;
    vertical-align: middle;
    box-sizing: border-box;
    border: 1px solid whitesmoke;
    border-radius: 40px;
    font-size: 15px;
    background-color: white;
    background-image: url('../img/search.jpg');
    background-position: 97.5%;
    background-size: 20px;
    box-shadow: 1px 1px 2px 1px whitesmoke;
    /* box-shadow: 1px 1px 1px 1px grey; */
    background-repeat: no-repeat;
    padding: 14px 21px 12px 40px;
}

/* css for section */

.section-home {
    /* darken image */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 75px 50px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.section-home h1 {
    text-transform: uppercase;
}

.section-map {
    text-align: center;
    height: 600px;
}
.section-news {
    text-align: center;
    height: 600px;
}
.category{
    width: 30%;
}
.category .title{
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
}
.category p{
    margin: 15px;
}
.category img{
    margin: 0px 10px;
    vertical-align: middle;
}
.latest{
    overflow: auto;
    width: 30%;
}
.latestimg{
    width: 90%;
}
.latest > div{
    float: left;
    width: 45%;
    overflow: auto;
    height: 130px;
}

.latest .content{
    width: 80%;
    word-break: break-all;
    font-weight: bold;
    font-size: 20px;
}
/* .category span{
    margin: 5px;
} */
.frame {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
    height: 450px;
    background-image: url('../img/map.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* .frame iframe{
        width: 95%;
        height :100%;
    } */

.contact {
    position: absolute;
    width: 85%;
    margin-left: 7%;
    margin-top: -25%;
    overflow: auto;
    height: fit-content;
    background-color: #339FEA;
}

.inputcontact {
    background-color: white;
    float: left;
    overflow: auto;
    width: 75%;
    padding: 1%;
}
.inputcontact p{
    color: #3F3F3F;
    width: 100%;
    margin: 2% 1%;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    float: left;
}

.inputcontact input {
    padding: 5px;
    font-size: 15px;
    float: left;
    width: 46.5%;
    height: 30px;
    margin: 2% 1%;
}
.inputcontact .phone{
    margin: 2% 1%;
    width: 95%;
    float: left;
}
.inputcontact textarea  {
    padding: 5px;
    margin: 2% 1%;
    font-size: 15px;
    width: 95%;
    height: 100px;
    float: left;
}
.inputcontact button{
    color: white;
    width: 160px;
    height: 50px;
    background-color: #339FEA;
    margin: 2% 1%;
    text-align: center;
    border: 0px;
    border-radius: 5%;
    padding-left: 5%;
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    float: left;
}
.addresscontact {
    float: left;
    height: auto;
    width: 25%;
}
.addresscontact img{
    margin-right: 10px;
}
.addresscontact p, label{
    float: left;
    margin: 10px;
    color: white;
}
.addresscontact label{
    font-family: open;
    margin: 30px 10px;
    width: 80%;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
/* css for footer */
footer {
    background-color: #F9F9F9;
    height: 400px;
    
}

footer label{
    color: black;
    width: 80%;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
footer>div {
    width: 100%;
    overflow: auto;
    padding-top: 5%;
}
.footer1{
    height: 75%;
}
div.address {
    padding-left: 5%; 
    float: left;
    width: 30%;
}
div.address .logo{
    width: 100px;
    height: 100px;
    margin: 5px 10px;
}
div.address img{
    margin-right: 10px;
}
div.address p{
    width: 80%;
    float: left;
    color: black;
    margin: 5px 10px;
}
div.promotion {
    float: left;
    width: 40%;
}
div.promotion p{
    width: 80%;
    float: left;
    color: black;
    margin: 5px 10px;
}
div.fanpage {
    float: left;
    width: 30%;
}
div.fanpage iframe{
    width: 80%;
    height: 120%;
    border:none;
    overflow:hidden;
    
}
.footer2{
    height: 25%;
    border-top-width: black solid 1px;
    overflow: auto;
    
   left: 0;
   bottom: 0;
   width: 100%;

   text-align: center;
}


.footer2 img{
    background-color: #0F8EE8;
    margin: 0px 5px;
}

.message{
    background-color: #2F9DEA;
    align-items: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    bottom: 16px;
    display: flex;
    height: 42px;
    justify-content: center;
    width: 135px;
    padding: 0 5px;
    color: white;
    /* padding-bottom: 2px; */
    position: fixed;
    right: 16px;
    box-shadow: 1px 1px 2px 1px whitesmoke;
    /* width: fit-content; */
}