* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* css for header */

#heading {
    margin: 25px 50px;
    overflow: auto;
    text-align: center;

}
#heading .logo {
    float: left;
    vertical-align: middle;
    margin: 15px;
}
#heading .account {
    float: right;
    vertical-align: middle;
}

.search {
    width: 60%;
    vertical-align: middle;
    box-sizing: border-box;
    border: 1px solid whitesmoke;
    border-radius: 40px;
    font-size: 15px;
    background-color: white;

    background-image: url('../img/search.jpg');
    background-position: 97.5%; 
    background-size: 20px;
    box-shadow: 1px 1px 2px 1px whitesmoke;
    /* box-shadow: 1px 1px 1px 1px grey; */
    background-repeat: no-repeat;
    padding: 14px 21px 12px 40px;
  }
  /* css for section */
  .section-home{
    /* darken image */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
    url('../img/about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 75px 50px;
    color: white;
    text-align: center;   
    vertical-align: middle;
    }
    .section-home h1{
        text-transform: uppercase;
    }
    .section-map{
        text-align: center;   
    }
    .frame {
        margin-left: auto ;
        margin-right: auto ;
        position: relative;
        width: 80%;
        height :450px;
        background-image: url('../img/map.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* .frame iframe{
        width: 95%;
        height :100%;
    } */
    .contact{
        position: absolute;
        width: 71%;
        border: 1px solid black;
        margin-left: 14%;
        margin-top: -5%;
        background-color: white;
    }
footer{
    height: 300px;
}
footer > div{
    width: 100%;
    overflow: auto;
}
div.address{
    float: left;
    width: 30%;
}
div.promotion{
    float: left;
    width: 40%;
}
div.fanpage{
    float: left;
    width: 30%;
}