/* reset css */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* css for header */

#heading {
    margin: 25px 50px;
    overflow: auto;
}

@font-face {
    font-family: monte;
    src: url("Montserrat-Medium.otf");
}

#logo {
    float: left;
}

#heading ul {
    float: right;
}

li {
    margin-right: 10px;
    list-style: none;
    display: inline-block;
}

a {
    font-size: 80%;
    font-family: monte;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

/* css for section */

.section-home {
    font-family: monte;
    padding: 35px;
    text-align: center;
    vertical-align: middle;
    background-color: #F6F6F6;
}
.section-home p{  
    margin-top: 10px;
    font-size: 13px;
   color: #C6C6C6;
}

.gallery {
    border: 0px;
    height: 300px;
}

.gallery img {
    border: 0px;
    width: 25%;
    height: 300px;
    float: left;
}

/* css for footer */

footer {
    height: 200px;
    padding: 60px 75px;
    color: white;
    background-color: #141414;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-container2 {
    display: flex;
    justify-content: center;
}

.footer-container2 div {
    margin: 10px;
}