/* reset css */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: monte;
    src: url("Montserrat-Medium.otf");
}
/* css for header */

#heading {
    margin: 25px 50px;
    overflow: auto;
}

#logo {
    float: left;
}

#heading ul {
    float: right;
}

li {
    margin-right: 10px;
    list-style: none;
    display: inline-block;
}

a {
    font-size: 80%;
    font-family: monte;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
a.this{
    color: #10C9C3;
}
/* css for section */

section {
    background-color: #F6F6F6;
    font-family: monte;
}
section p {
    margin-top: 10px;
    font-size: 13px;
    color: #C6C6C6;
}
/* css for home */
.section-gallery{
    overflow: auto;
}
.section-home {
    padding: 75px 50px;
    text-align: center;
    vertical-align: middle;
}

.gallery {
    border: 0px;
    height: 300px;
}

.gallery img {
    border: 0px;
    width: 25%;
    height: 300px;
    float: left;
}
/* css for contact */
.section-contact{
    padding: 4%;
    padding-top: 40px;
    height: 980px;
    overflow: auto;
    /* display: flex;
    justify-content: space-around; */
}
.section-contact  div.contact{
    float: left;
    width: 45%;
    margin: 1%;
}
.section-contact strong{
    font-weight: bold;
    color: black;
}
div.contact > div {
    margin-top: 20px;
}
.section-contact input[type=text]{
    padding: 10px;
    height: 50px;
    margin-bottom: 10px;
}
.section-contact .title{
    width: 100%;
}
.section-contact .name{
    float: left;
    width: 49%;
    margin-right: 1%;
}
.section-contact .mail{
    float: left;
    width: 49%;
    margin-left: 1%;
}

.section-contact textarea{  
    padding: 13px;
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
}
.section-contact button{
    background-color: #10C9C3;
    color: white;
    border: 0px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 16px 25px;
}
.section-contact .frame{
    display: inline-block;
    width: 100%;
}
.frame iframe{
    width: 92.5%;
    height :450px;
}
/* css for single project */
.section-single{
    /* padding-top: 0%; */
    height: fit-content;
    overflow: auto;
    /* display: flex;
    justify-content: space-around; */
}
.section-single  div.detail{
    float: left;
    width: 50%;
    padding: 4%;
}
div.detail > div {
    margin-top: 20px;
}
.section-single  div.single{
    float: left;
    width: 50%;
}
.section-single strong{
    font-weight: bold;
    color: black;
}
.section-single strong{
    font-weight: bold;
    color: black;
}
div.single img{
    width: 100%;
    height: 100%;
}
/* .section-single img{
    width: 100%;
    height: 100%;
} */

.section-navigation{
    background-color: white;  
    padding:  25px 5%;
    height: 80px;
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
}
.section-navigation p{
    color: black;
}
.section-navigation i{
    margin: 0px 5px;
    color: black;
}
.section-navigation img{
    margin: 5px 0px ;
    color: black;
}
/* css for about */
.section-about{
    padding: 75px 50px;
    text-align: center;
    vertical-align: middle;
}
.section-experience{
    background-color: #10C9C3;
    /* height: 250px; */
    padding: 5% 10%;;
    overflow: auto;
    /* display: flex;
    justify-content: space-between; */
}
.section-experience > div.experience{
    width: 25%;
    /* padding: 15px 0px;
    height: 150px; */
    float: left;
    overflow: auto;
}
img.experience{
    display: block;
    color: white;
    height: 40px;
    float: left;
    color: white;
    margin: 10px;
}
div.experience div{
    margin: 0px 10px;
    float: left;
    vertical-align: middle;
}
div.experience p{
    /* margin-bottom: 5px;; */
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
.signature{
    margin-top: 10px;
    height: 70px;
    width: 200px;
}
.section-ameila{
    background-image: url("../img/hagiang.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 75px 50px;
    text-align: center;   
    vertical-align: middle;
}
.section-ameila h1{
    color: white;
}
.section-ameila p{
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
}
.section-home p{
    margin-bottom: 30px;
    margin-top: 30px;
}
.section-home button{
    background-color: #10C9C3;
    color: white;
    border: 0px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 16px 25px;
}
/* css for footer */

footer {
    /* font-family: monte; */
    /* height: 250px; */
    padding: 50px 30px;
    color: white;
    background-color: #141414;
}

footer p {
    margin-bottom: 4px;
}

.footer-container {
    padding: 10px;
    overflow: auto;
}
.footer-container .footer1{
    width: 40%;
    float: left;
}
.footer-container .footer2{
    width: 20%;
    float: left;
}
.footer-container .footer3{
    width: 40%;
    overflow: auto;
    float: left;
}
.footer3 > div{
    width: 20%;
    float: left;
}
.footer3 > .media{
    width: 20%;
    float: right;
}
/* responsive */
@media screen and (max-width: 1200px){
    .section-experience{
        padding: 5% 15%;
    }
    .section-experience > div.experience{
        width: 50%;
    }
}
@media screen and (max-width: 992px) {
    .gallery img {
        width: 50%;
    }
    .gallery {
        height: 200px;
    }
    .section-single  div.detail{
        width: 100%;
    }
    .section-single  div.single{
        width: 100%;
    }
    .section-contact {
        padding: 4%;
        height: 1300px;
    }
    .section-contact  div.contact{
        width: 90%;
        margin: 3%;
    }
    .footer-container .footer1{
        width: 50%;
        margin-bottom: 5px;
    }
    .footer-container .footer2{
        width: 50%;
        margin-bottom: 5px;
    }
    .footer-container .footer3{
        width: 100%;
        margin: 10px;
    }
    
/*=====================Footer========================*/ 

    /* .footer-container {
        overflow: auto;
    }
    .footer-container > div{
        float: left;
        width: 50%;
    }
    .footer-container2{
        float: left;
        width: 50%;
    } */
}
@media screen and (max-width: 768px) {
    .section-experience{
        padding: 5% 20%;
    }
    .section-experience > div.experience{
        width: 100%;
        margin: 2%;
    }
    
    
    .gallery img {
        width: 100%;
    }
    .footer-container > div{
        float: left;
        width: 100%;
    }

}