/* reset css */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: monte;
    src: url("Montserrat-Medium.otf");
}
/* css for header */

#heading {
    margin: 25px 50px;
    overflow: auto;
}

#logo {
    float: left;
}

#heading ul {
    float: right;
}

li {
    margin-right: 10px;
    list-style: none;
    display: inline-block;
}

a {
    font-size: 80%;
    font-family: monte;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

/* css for section */

section {
    background-color: #F6F6F6;
    font-family: monte;
    padding-top: 40px;
  
}
section p {
    margin-top: 10px;
    font-size: 13px;
    color: #C6C6C6;
}
/* css for home */
.section-home {
    text-align: center;
    vertical-align: middle;
}

.gallery {
    border: 0px;
    height: 300px;
}

.gallery img {
    border: 0px;
    width: 25%;
    height: 300px;
    float: left;
}
/* css for contact */
.section-contact{
    padding: 4%;
    height: 900px;
    overflow: auto;
    /* display: flex;
    justify-content: space-around; */
}
.section-contact  div.contact{
    float: left;
    width: 45%;
    margin: 1%;
}
.section-contact strong{
    font-weight: bold;
    color: black;
}
.section-contact input[type=text]{
    padding: 10px;
    height: 50px;
    margin-bottom: 10px;
}
.section-contact .title{
    width: 100%;
}
.section-contact .name{
    float: left;
    width: 49%;
    margin-right: 1%;
}
.section-contact .mail{
    float: left;
    width: 49%;
    margin-left: 1%;
}

.section-contact textarea{  
    padding: 13px;
    width: 100%;
    margin-bottom: 10px;
}
.section-contact button{
    background-color: #10C9C3;
    color: white;
    border: 0px;
    padding: 12px 20px;
}
.section-contact .frame{
    display: inline-block;
    width: 100%;
}
.frame iframe{
    width: 92.5%;
    height :450px;
}
/* css for footer */

footer {
    height: 200px;
    padding: 50px 75px;
    color: white;
    background-color: #141414;
}

footer p {
    margin-bottom: 4px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-container2 {
    display: flex;
    justify-content: center;
}

.footer-container2 div {
    margin: 10px;
}